html, body {
    width: 100%;
    height: 100%;
}
.error_page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
.error_msg {
    margin-top: 20px;
}

.error_msg, .go_main_msg{
    text-align: center;
}


.error_gif_box img {
    display: block;
    position: relative;
    margin: auto;
    background-color: red;
}